@model GAP.Models.ReclamationReply
@{
    ViewData["Title"] = "Index";
}

<div class="adpcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">

                <h1 class="form-header">ADD Reclamations Reply</h1>

                <div class="comment-thread">
                    @if (ViewBag.ReclamationsWithRepliesAndUsers != null)
                    {
                        @foreach (var reclamationDetails in ViewBag.ReclamationsWithRepliesAndUsers)
                        {
                            var reclamation = reclamationDetails.Reclamation;
                            var user = reclamationDetails.User;
                            var reclamationReply = reclamationDetails.ReclamationReply;

                            <details open class="comment" id="comment-@reclamation.ReclamationID">
                                <a href="#comment-@reclamation.ReclamationID" class="comment-border-link">
                                    <span class="sr-only">Jump to comment-@reclamation.ReclamationID</span>
                                </a>
                                <summary>
                                    <div class="comment-heading">
                                        <div class="comment-voting">
                                            <button type="button">
                                                <span aria-hidden="true">&#9650;</span>
                                                <span class="sr-only">Vote up</span>
                                            </button>
                                            <button type="button">
                                                <span aria-hidden="true">&#9660;</span>
                                                <span class="sr-only">Vote down</span>
                                            </button>
                                        </div>
                                        <div class="comment-info">
                                            <a href="#" class="comment-author">@user.FirstName @user.LastName</a>
                                            <p class="m-0">
                                                @reclamation.CreationDate
                                            </p>
                                        </div>
                                    </div>
                                </summary>

                                <div class="comment-body">
                                    <p>
                                        @reclamation.Description

                                    </p>
                                    <form asp-action="DeleteReclamationAD" asp-controller="ReclamationReplies" method="post" class="d-flex align-items-center">

                                    <button class="btn" type="button" data-toggle="reply-form"
                                                data-target="comment-@reclamation.ReclamationID-reply-form" style="margin-right: 10px;">
                                        <svg viewBox="0 0 15 15" height="15.5" width="15" xmlns="http://www.w3.org/2000/svg" class="icon" type="button" data-toggle="reply-form"
                                             data-target="comment-@reclamation.ReclamationID-reply-form">
                                            <path d="M8.098 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L8.8 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L4.114 8.254a.502.502 0 0 0-.042-.028.147.147 0 0 1 0-.252.497.497 0 0 0 .042-.028l3.984-2.933zM9.3 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" fill="white"></path>
                                            <path d="M5.232 4.293a.5.5 0 0 0-.7-.106L.54 7.127a1.147 1.147 0 0 0 0 1.946l3.994 2.94a.5.5 0 1 0 .593-.805L1.114 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.5.5 0 0 0 .042-.028l4.012-2.954a.5.5 0 0 0 .106-.699z" fill="white"></path>
                                        </svg>
                                    </button>


                                        <div class="form-group">
                                            <input type="hidden" asp-for="ReclamationID" value="@reclamation.ReclamationID" />
                                        </div>
                                      
                                            <button class="btn">
                                                <svg viewBox="0 0 15 17.5" height="15.5" width="15" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="white"></path>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="white"></path>
                                                </svg>

                                            </button>
                                    

                                    </form>


                                 
                                    <form asp-action="Create" class="reply-form d-none" id="comment-@reclamation.ReclamationID-reply-form">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <input asp-for="ReclamationID" value="@reclamation.ReclamationID" hidden />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Answer" class="control-label"></label>
                                            <input asp-for="Answer" class="form-control" />
                                            <span asp-validation-for="Answer" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                            <button type="button" class="btn btn-warning" data-toggle="reply-form" data-target="comment-@reclamation.ReclamationID-reply-form">Cancel</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="replies">
                                    @if (reclamationReply != null)
                                    {
                                        @foreach(var ReclamationRep in reclamationReply)
                                        {
                                            <details open class="comment" id="reply-@ReclamationRep.ReclamationReplyID">
                                                <a href="#reply-@ReclamationRep.ReclamationReplyID" class="comment-border-link">
                                                    <span class="sr-only">Jump to reply-@ReclamationRep.ReclamationReplyID</span>
                                                </a>
                                                <summary>
                                                    <div class="comment-heading">
                                                        <div class="comment-voting">
                                                            <button type="button">
                                                                <span aria-hidden="true">&#9650;</span>
                                                                <span class="sr-only">Vote up</span>
                                                            </button>
                                                            <button type="button">
                                                                <span aria-hidden="true">&#9660;</span>
                                                                <span class="sr-only">Vote down</span>
                                                            </button>
                                                        </div>
                                                        <div class="comment-info">
                                                            <a href="#" class="comment-author">Admin</a>
                                                            <p class="m-0">
                                                                @* Display relevant information about the reclamation reply creation date *@
                                                            </p>
                                                        </div>
                                                    </div>
                                                </summary>

                                                <div class="comment-body">
                                                   

                                                    <form asp-action="DeleteReply" asp-controller="ReclamationReplies" method="post">
                                                        <div class="form-group">
                                                            <input type="hidden" asp-for="ReclamationReplyID" value="@ReclamationRep.ReclamationReplyID" />
                                                        </div>
                                                        <p>
                                                            @ReclamationRep.Answer
                                                        <button class="btn" style="background-color: transparent; margin-left: 5px;" type="submit">
                                                            <svg viewBox="0 0 15 17.5" height="15.5" width="15" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="red"></path>
                                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="red"></path>
                                                            </svg>
                                                            </button>
                                                    </p>

                                                    </form>


                                                    
                                                </div>
                                            </details>
                                        }
                                      
                                    }
                                </div>
                            </details>
                        }
                    }
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}