

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>diigo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/GAP.styles.css" asp-append-version="true" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>

    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="head_top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="index.html"><img src="~/images/logo.png" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarsExample04">
                                    <ul class="navbar-nav mr-auto logandnot">




                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @if (!User.IsInRole("Admin"))
                                            {
                                                var totalNotifications = Context.Items["TotalNotifications"] as int? ?? 0;
                                                var notifications = Context.Items["Notifications"] as List<NotificationReclamation> ?? new List<NotificationReclamation>();

                                                <ul class="notification-drop">
                                                    <li class="item">
                                                        <i class="fa fa-bell-o notification-bell" aria-hidden="true"></i>
                                                        <span class="btn__badge pulse-button">@totalNotifications</span>
                                                        <ul>
                                                            @if (totalNotifications > 0)
                                                            {
                                                                @foreach (var notification in notifications)
                                                                {
                                                                    <li>
                                                                        @notification.NotificationTitle
                                                                        @if (notification.DevisID.HasValue)
                                                                        {
                                                                            <a href="@Url.Action("HandleNotification", "Home", new { devisId = notification.DevisID })">
                                                                                <i class="fa fa-mail-reply" style="font-size:22px;color:#2e428b;background:none"></i>
                                                                            </a>
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li>No Notif</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            }
                                            else
                                            {
                                                var totalNotificationsAdmin = Context.Items["TotalNotificationsAdmin"] as int? ?? 0;
                                                var notificationsAdmin = Context.Items["NotificationsAdmin"] as List<NotificationAdmin> ?? new List<NotificationAdmin>();

                                                <ul class="notification-drop">
                                                    <li class="item">
                                                        <i class="fa fa-bell-o notification-bell" aria-hidden="true"></i>
                                                        <span class="btn__badge pulse-button">@totalNotificationsAdmin</span>
                                                        <ul>
                                                            @if (totalNotificationsAdmin > 0)
                                                            {
                                                                @foreach (var notification in notificationsAdmin)
                                                                {
                                                                    <li>
                                                                        @notification.NotificationTitle
                                                                        @if (notification.FournisseurID.HasValue)
                                                                        {
                                                                            <a href="@Url.Action("HandleNotification", "Home", new { FournisseurID = notification.FournisseurID })">
                                                                                <i class="fa fa-mail-reply" style="font-size:22px;color:#2e428b;background:none"></i>
                                                                            </a>
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li>No Notif</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            }


                                            <li class="nav-item">
                                                <a class="logout" onclick="location.href='@Url.Action("Logout", "Users")'">
                                                    <span>Logout</span>
                                                </a>
                                            </li>

                                        }


                                    </ul>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="sidenav">
                    <div class="menu-btn">
                        <div class="line line--1"></div>
                        <div class="line line--2"></div>
                        <div class="line line--3"></div>
                    </div>

                    <div class="sidenav-links">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="link " asp-area="" asp-controller="Users" asp-action="Index">Users</a>

                            <a class="link" onclick="location.href='@Url.Action("Create", "RespserviceAchats")'">Add Resp Service Achat</a>
                            <a class="link" onclick="location.href='@Url.Action("Create", "RespServicequalites")'">Add Resp Service qualite</a>
                            <a class="link" onclick="location.href='@Url.Action("Create", "RespServiceFinances")'">Add Resp Service Finances</a>
                            <a class="link" onclick="location.href='@Url.Action("Create", "ReceptServiceAchats")'">Add Recep Service Achats</a>
                            <a class="link" onclick="location.href='@Url.Action("Create", "Fournisseurs")'">Add Fournisseur</a>
                        }
                        else if (User.IsInRole("Fournisseur"))
                        {

                            <a class="link" onclick="location.href='@Url.Action("Index", "OffreVentes")'">Offres Ventes</a>
                            //+add
                            <a class="link" onclick="location.href='@Url.Action("Indexfour", "DemandeAchats")'">Demandes Achats</a>
                            <a class="link" onclick="location.href='@Url.Action("Index", "Produits")'">Produits</a>
                            <a class="link" onclick="location.href='@Url.Action("Details", "Fournisseurs")'">Account</a>

                        }
                        else if (User.IsInRole("RespServiceAchat"))
                        {

                            <a class="link" onclick="location.href='@Url.Action("IndexRespSA", "OffreVentes")'">Offre Ventes</a>
                            <a class="link" onclick="location.href='@Url.Action("Index", "Devis")'">Devis</a>
                            //+add
                            <a class="link" onclick="location.href='@Url.Action("Index", "DemandeAchats")'">Demande Achats</a>
                            <a class="link" onclick="location.href='@Url.Action("Index", "Sanctions")'">Sanctions</a>
                            //+add

                        }
                        else if (User.IsInRole("RespServiceFinance"))
                        {

                            <a class="link" onclick="location.href='@Url.Action("Index", "Factures")'">Factures</a>


                        }
                        else if (User.IsInRole("ReceptServiceAchat"))
                        {


                            <a class="link" onclick="location.href='@Url.Action("Index", "RapportReceptions")'">RapportReceptions</a>
                            <a class="link" onclick="location.href='@Url.Action("IndexDevis", "ReceptServiceAchats")'">Current Arrivals</a>
                            //+add

                        }
                        else if (User.IsInRole("RespServiceQualite"))
                        {

                            <a class="link" onclick="location.href='@Url.Action("Index", "Produits")'">Produits</a>
                            //+add
                            <a class="link" onclick="location.href='@Url.Action("Index", "Devis")'">Devis</a>

                        }


                    </div>
                </div>
            }




            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
                <div class="container-fluid">
                    <div class="row d_flex">
                        <div class="col-md-6">
                          
                        </div>
                        <div class="col-md-6">
                            <div class="text-img">
                                <figure><img src="~/images/box_img.png" alt="#" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        

    </header>
    <!-- end banner -->


    <div class="main-content ">

        <div class="bodycontainer">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>



    </div>
    <!-- end contact -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="cont">
                            <h3>
                                <strong class="multi"> GAP - Tech </strong><br>
                               Follow US ON 
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2023 All Right Reserved By <a href="https://html.design/"> Finatech Group</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Notifications.js"></script>
    <script src="~/js/loader.js"></script>
    <script src="~/js/custom.js"></script>

    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
