<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Gap - Tech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/GAP.styles.css" asp-append-version="true" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (Context.Request.Path != "/Home/AccessDenied" && Context.Request.Path != "/Home/NotFound")
    {

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminforms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admintables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stock.css" asp-append-version="true" />

    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" asp-append-version="true" />

    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    }
</head>






<!-- body -->
<body class="main-layout">



    @if (Context.Request.Path == "/OutIndex")
    {
       

        <div class="main-content ">


            <div class="hdr">
                <div class="logo">
                    <a onclick="location.href='@Url.Action("Index", "Home")'"><img src="~/images/logo.png" alt="#" /></a>
                </div>
                <div class="nav">
                    <ul class="liks">
                        <li class="naveitem">
                            <a class="lik" href="#">Assets disposal</a>
                            <a class="lik" href="@Url.Action("PurchaseRequestsOut", "Home")">Purchase Requests</a>
                            <a class="lik" href="@Url.Action("ServicesRequestsOut", "Home")">Service Requests</a>
                        </li>
                    </ul>
                </div>
                <a href="@Url.Action("Login", "Users")" class="cta">
                    <button class="cta__button">Login</button>
                </a>
            </div>

            <div class="bodycontainer">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>



        </div>

        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="cont">
                                <h3>
                                    <strong class="multi"> GAP - Tech </strong><br>
                                    Follow US ON
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul class="social_icon">
                                <li><a href="https://yahya.rabii.me/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                <li><a href="https://github.com/Yahya-rabii"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/rabii-yahya-1b093a20b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Copyright 2023 All Right Reserved By <a href="https://www.finatech.com/"> Finatech Group</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    }

        else{
        
        
        @if (Context.Request.Path != "/Home/AccessDenied" )
    {


 @if (User.IsInRole("Admin"))
    {


        <div class="sidebar">
            <div class="logo-details">
                <i class="bx bxs-network-chart"></i>
                <span class="logo_name">GAP - Tech</span>
            </div>
            <ul class="nav-links">


               <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bx bx-grid-alt"></i>
                        <span class="links_name">Dashboard</span>
                    </a>
            </li>
                <li>
                    <a asp-area="" asp-controller="Reclamationreplies" asp-action="Indexadmin">
                        <i class="bx bx-bug"></i>
                        <span class="links_name">Reclamations</span>
                    </a>
            </li>
                <li>
                    <a asp-area="" asp-controller="Suppliers" asp-action="Index">
                        <i class="bx bx-support"></i>
                        <span class="links_name">Suppliers</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Stocks" asp-action="Index">
                        <i class="bx bx-coin-stack"></i>
                        <span class="links_name">Stocks</span>
                    </a>
                </li>

                <li>
                    <a asp-area="" asp-controller="Users" asp-action="Index">
                        <i class="bx bx-user"></i>
                        <span class="links_name">Users</span>
                    </a>
                </li>
                  


                <li class="dropdownad">

                    <a href="#">
                        <i class="bx bx-plus"></i>
                        <span class="links_name">Add Users</span>
                    </a>
                    <ul>
                        <ul class="dropdownad-menu">

                            <li><a class="link" onclick="location.href='@Url.Action("Create", "PurchasingDepartmentManagers")'"> <i class="bx bx-message-square-add"></i>Purchasing DM</a></li>
                            <li><a class="link" onclick="location.href='@Url.Action("Create", "QualityTestingDepartmentManagers")'"> <i class="bx bx-message-square-add"></i> Quality Testing DM</a></li>
                            <li><a class="link" onclick="location.href='@Url.Action("Create", "FinanceDepartmentManagers")'"> <i class="bx bx-message-square-add"></i>Finance DM</a></li>
                            <li><a class="link" onclick="location.href='@Url.Action("Create", "PurchasingReceptionists")'">  <i class="bx bx-message-square-add"></i>PD Receptionist</a></li>
                            <li><a class="link" onclick="location.href='@Url.Action("Create", "ProjectManagers")'">  <i class="bx bx-message-square-add"></i>Project Manager</a></li>
                        </ul>
                    </ul>
                </li>

        

         

                <li class="log_out">
                    <a onclick="location.href='@Url.Action("Logout", "Users")'">
                        <i class="bx bx-log-out"></i>
                        <span class="links_name">Log out</span>
                    </a>
                </li>

            </ul>
        </div>



        var currentPageUrl = Context.Request.Path;
        var totalNotificationsAdmin = Context.Items["TotalNotificationsAdmin"] as int? ?? 0;
        var notificationsAdmin = Context.Items["NotificationsAdmin"] as List<NotificationAdmin>?? new List<NotificationAdmin>();
        var notificationsReclamation = Context.Items["notificationsReclamation"] as List<NotificationReclamation> ?? new List<NotificationReclamation>();


        var userProfilePicture = Context.Items["UserProfilePicture"] as byte[];
        var UserEmail = Context.Items["UserEmail"] as string;
        var UserID = Context.Items["UserID"] as int? ?? 0;




        <section class="home-section">

            <nav>








                <div class="sidebar-button">
                    <i class="bx bx-menu sidebarBtn"></i>
                    <span class="dashboard">Admin Dashboard</span>
                </div>



                <ul class="adnotification-drop">
                    <li class="aditem">
                        <i class="fa fa-bell-o adnotification-bell" aria-hidden="true"></i>
                     
                        <span class="adbtn__badge adpulse-button">@totalNotificationsAdmin </span>
                        <ul>


                            @foreach (var notification in notificationsReclamation)
                            {
                                <li>
                                    @notification.NotificationTitle
                                </li>
                            }

                            @if (totalNotificationsAdmin > 0)
                            {
                                @foreach (var notification in notificationsAdmin)
                                {
                                    <li>
                                        @notification.NotificationTitle
                                        @if (notification.SupplierID.HasValue)
                                        {
                                            <a href="@Url.Action("HandleNotification", "Home", new { SupplierID = notification.SupplierID })">
                                                <i class="fa fa-mail-reply" style="font-size:22px;color:#2e428b;background:none"></i>
                                            </a>


                                                    <a href="@Url.Action("DeleteNotification", "Home", new { SupplierID = notification.SupplierID })">
                                                        <i class="fa fa-trash" style="font-size:22px;color:#2e428b;background:none"></i>
                                                    </a>
                                        }
                                    </li>
                                }
                            }
                            else
                            {
                                <li>No Notif</li>
                            }
                        </ul>
                    </li>
                </ul>


                <div class="profile-details">
                    <div class="adaction">
                        <div class="adprofile">
                            @if (userProfilePicture != null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(userProfilePicture)" alt="Profile Picture" />
                            }
                            else
                            {
                                <img src="~/images/image-prof.png" alt="Default Profile Picture" />
                            }
                        </div>

                        <div class="admenu">
                            <h3>
                                Welcome
                                <br />
                                <span>  @UserEmail  </span>
                            </h3>

                            <ul>
                                <li>
                                    <i class="bx bx-user"></i>
                                    <a href="@Url.Action("Details", "Users", new { ID = UserID })">My Profile</a>
                                </li>
                                <li>
                                    <i class="bx bx-edit"></i>
                                    <a href="@Url.Action("Edit", "Users", new { ID = UserID })">Edit Profile</a>
                                </li>

                            </ul>
                        </div>
                        <i class="bx bx-chevron-down iopen" onclick="menuToggle();"></i>
                    </div>
                    <span class="admin_name">Admin</span>
                </div>
            </nav>

            @if (currentPageUrl == "/")
            {
                <div class="home-content">
                    <div class="overview-boxes">
                        <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Total Products</div>
                                <div class="number">@ViewBag.TotalProducts</div>
                            </div>
                            <i class="bx bxs-package cart two"></i>
                        </div>    
                        <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Total Bug Reports </div>
                                <div class="number">@ViewBag.TotalBugs</div>
                            </div>
                            <i class="bx bxs-bug cart five"></i>
                        </div>
                        <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Total Users</div>
                                <div class="number">@ViewBag.TotalUsers</div>
                            </div>
                            <i class="bx bx-user cart three"></i>
                        </div>
                        <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Total Suppliers</div>
                                <div class="number">@ViewBag.TotalSuppliers</div>
                            </div>
                            <i class="bx bxs-component cart four"></i>
                        </div>
                    </div>
                    <div class="sales-boxes">
                        <div class="recent-sales box">
                            <div class="title">Users</div>
                            <div class="sales-details">
                                <div class="table-container">
                                    <table class="user-table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Users != null)
                                            {
                                                @foreach (var user in ViewBag.Users)
                                                {
                                                    <tr>
                                                        <td>
                                                            @if (user.ProfilePicture != null)
                                                            {
                                                                <img class="prof" src="data:image/jpeg;base64,@Convert.ToBase64String(user.ProfilePicture)" alt="Profile Picture" />
                                                            }
                                                            else
                                                            {
                                                                <img class="prof" src="~/images/image-prof.png" alt="Default Profile Picture" />
                                                            }
                                                        </td>
                                                        <td>@user.FirstName</td>
                                                        <td>@user.LastName</td>
                                                        <td>@user.Email</td>
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="button">
                                <a asp-area="" asp-controller="Users" asp-action="Index">See All</a>
                            </div>
                        </div>
                        <div class="top-sales box">
                            <div class="title">Suppliers</div>
                            <ul class="top-sales-details">
                                @if (ViewBag.Supplier != null)
                                {
                                    @foreach (var supplier in ViewBag.Supplier)
                                    {
                                        <li>
                                            <a href="#">

                                                @if (supplier.ProfilePicture != null)
                                                {
                                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(supplier.ProfilePicture)" alt="Profile Picture" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/supplier.png" alt="Default Profile Picture" />
                                                }

                                                <span class="product">@supplier.Email</span>
                                            </a>
                                        </li>
                                    }

                                }

                            </ul>  
                            <div class="button">
                                <a asp-area="" asp-controller="Suppliers" asp-action="Index">See All</a>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="sales-boxes">
                        <div class="recent-sales box" style="width:100%; ">
                            <div class="title">Project Managers</div>
                            <div class="sales-details">
                                <div class="table-container" >
                                    <table class="user-table" style="width:1111px ; white-space: nowrap;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Project Name</th>
                                                <th>Project Budget</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            @if (ViewBag.PManagers != null)
                                            {
                                                @foreach (var pmanagers in ViewBag.PManagers)
                                                {
                                                    <tr>
                                                        <td>
                                                            @if (pmanagers.ProfilePicture != null)
                                                                {
                                                                <img class="prof" src="data:image/jpeg;base64,@Convert.ToBase64String(pmanagers.ProfilePicture)" alt="Profile Picture" />
                                                                }
                                                                else
                                                                {
                                                                <img class="prof" src="~/images/image-prof.png" alt="Default Profile Picture" />
                                                                }
                                                        </td>
                                                        <td>@pmanagers.FirstName</td>
                                                        <td>@pmanagers.LastName</td>
                                                        <td>@pmanagers.Email</td>
                                                    

                                                        @foreach (var project in pmanagers.Projects)
                                                                {
                                                            <td>@project.Name</td>
                                                            <td>@project.Budget</td>

                                                        }

                                                        <td></td>
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           
                        </div>
                   
                    </div>
                    <br/>
                </div>
            }

        </section>

            
                <section class="home-section">
            <div class="sales-boxes">
                <div class="recent-sales box">
                        @RenderBody()
                        </div>
                        </div>
                        
                </section>
        
     


      
        <script src="~/js/admins.js"></script>
        <script src="~/js/adminNotification.js"></script>
        <script src="~/js/adprofile.js"></script>
        <script src="~/js/ProfileEdit.js"></script>
        <script src="~/js/reply.js"></script>
        <script src="~/js/stock.js"></script>

        @await RenderSectionAsync("Scripts", required: false)

    }



     else if (User.IsInRole("Supplier"))
    {
        var SupplierEmail = Context.Items["SupplierEmail"] as string;
        var SupplierID = Context.Items["SupplierID"] as int? ?? 0;
        var SupplierProfilePicture = Context.Items["SupplierProfilePicture"] as byte[];
        var totalNotificationsSupplier = Context.Items["TotalNotificationsSupplier"] as int? ?? 0;
        var notificationsSupplier = Context.Items["NotificationsSupplier"] as List<NotificationSupplier> ?? new List<NotificationSupplier>();


        <!-- loader -->
        <div class="loader_bg">
            <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
        </div>

        <!-- end loader -->
        <!-- header -->
        <header>
            <!-- header inner -->
            <div class="head_top">
                <div class="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                                <div class="full">
                                    <div class="center-desk">
                                        <div class="logo">
                                            <a  onclick="location.href='@Url.Action("Index", "Home")'"><img src="~/images/logo.png" alt="#" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarsExample04">
                                        <div class="navbar-nav mr-auto logandnot">

                                           


      

                                                <ul class="notification-drop">
                                                    <li class="item">
                                                        <i class="fa fa-bell-o notification-bell" aria-hidden="true"></i>
                                                        <span class="btn__badge pulse-button">@totalNotificationsSupplier</span>
                                                        <ul>
                                                            @if (totalNotificationsSupplier > 0)
                                                            {
                                                                @foreach (var notification in notificationsSupplier)
                                                                {
                                                                    <li>
                                                                        @notification.NotificationTitle
                                                                        @if (notification.SaleOfferID.HasValue)
                                                                        {
                                                                            <a href="@Url.Action("HandleNotification", "Home", new { SaleOfferID = notification.SaleOfferID })">
                                                                                <i class="fa fa-mail-reply" style="font-size:22px;color:#2e428b;background:none"></i>
                                                                            </a> 
                                                                  
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li>No Notif</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            




                                                <div class="action">
                                                    <div class="profile" onclick="menuToggle();">




                                                    @if (SupplierProfilePicture != null)
                                                    {
                                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(SupplierProfilePicture)" alt="Profile Picture" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/images/image-prof.png" alt="Default Profile Picture" />
                                                    }




                                                </div>



                                                <div class="menu">
                                                    <h3>
                                                        Welcome
                                                        <br />
                                                        <span>  @SupplierEmail  </span>
                                                    </h3>

                                                    <ul>
                                                        <li>
                                                            <i class="bx bx-user"></i>
                                                            <a href="@Url.Action("SupplierProfile", "Users", new { ID = SupplierID })">My Profile</a>
                                                        </li>
                                                        <li>
                                                            <i class="bx bx-edit"></i>
                                                            <a href="@Url.Action("SupplierProfileEdit", "Users", new { ID = SupplierID })">Edit Profile</a>
                                                        </li>
                                                        <li>
                                                            <i class="bx bx-log-out"></i>

                                                            <a onclick="location.href='@Url.Action("Logout", "Users")'">
                                                                <span>Logout</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>


                               
                                                </div>





                                        </div>

                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end header inner -->
                @if (User.Identity.IsAuthenticated)
                {



                    <div class="sidenav">
                        <div class="menu-btn">
                            <div class="line line--1"></div>
                            <div class="line line--2"></div>
                            <div class="line line--3"></div>
                        </div>

                        <div class="sidenav-links">

                            @if (User.IsInRole("Supplier"))
                            {

                                <a class="link" onclick="location.href='@Url.Action("Index", "SaleOffers")'">Offres Ventes</a>
                                <a class="link" onclick="location.href='@Url.Action("Indexfour", "PurchaseRequests")'">Purchase Requests</a>
                                        <a class="link" onclick="location.href='@Url.Action("Indexfour", "ServiceRequests")'">Service Requests</a>
                                <a class="link" onclick="location.href='@Url.Action("Index", "Products")'">Products</a>

                            }
                          

                        </div>
                    </div>


             
                }




                <!-- end header -->
                <!-- banner -->
                <section class="banner_main">
                    <div class="container-fluid">
                        <div class="row d_flex">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="text-img">
                                    <figure><img src="~/images/box_img.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>



        </header>
        <!-- end banner -->


        <div class="main-content ">

            <div class="bodycontainer">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>



        </div>
        <!-- end contact -->
        <!--  footer -->
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="cont">
                                <h3>
                                    <strong class="multi"> GAP - Tech </strong><br>
                                    Follow US ON
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul class="social_icon">
                                    <li><a href="https://yahya.rabii.me/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li><a href="https://github.com/Yahya-rabii"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/rabii-yahya-1b093a20b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                        <p>Copyright 2023 All Right Reserved By <a href="https://www.finatech.com/"> Finatech Group</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- Javascript files-->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/jquery-3.0.0.min.js"></script>
        <script src="~/js/plugin.js"></script>
        <script src="~/js/sites.js"></script>
        <script src="~/js/Notifications.js"></script>
        <script src="~/js/loader.js"></script>
        <script src="~/js/customs.js"></script>
        <script src="~/js/profile.js"></script>
        <script src="~/js/ProfileEdit.js"></script>
        <script src="~/js/bug.js"></script>

        <!-- sidebar -->
        <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>



        @await RenderSectionAsync("Scripts", required: false)
    
    
    }


else{
        <!-- loader -->
        <div class="loader_bg">
            <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
        </div>
       
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="head_top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                            <a onclick="location.href='@Url.Action("Index", "Home")'"><img src="~/images/logo.png" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarsExample04">
                                    <div class="navbar-nav mr-auto logandnot">




                                        @if (User.Identity.IsAuthenticated)
                                        {
                                                var userProfilePicture = Context.Items["UserProfilePicture"] as byte[];
                                                var UserEmail = Context.Items["UserEmail"] as string;
                                                var UserID = Context.Items["UserID"] as int? ?? 0;

                                            
                                                var totalNotifications = Context.Items["TotalNotifications"] as int? ?? 0;
                                                var notifications = Context.Items["Notifications"] as List<NotificationInfo> ?? new List<NotificationInfo>();
                                              

                                                <ul class="notification-drop">
                                                    <li class="item">
                                                        <i class="fa fa-bell-o notification-bell" aria-hidden="true"></i>
                                                        <span class="btn__badge pulse-button">@totalNotifications</span>
                                                        <ul>
                                                            @if (totalNotifications > 0)
                                                            {
                                                                @foreach (var notification in notifications)
                                                                {
                                                                    <li>
                                                                        @notification.NotificationTitle
                                                                        @if (notification.PurchaseQuoteID != 0)
                                                                        {
                                                                            <a href="@Url.Action("HandleNotification", "Home", new { PurchaseQuoteId = notification.PurchaseQuoteID })">
                                                                                <i class="fa fa-mail-reply" style="font-size:22px;color:#2e428b;background:none"></i>
                                                                            </a>
                                                                        }
                                                                                @if (notification.ServiceQuoteID != 0)
                                                                        {
                                                                                    <a href="@Url.Action("HandleNotification", "Home", new { ServiceQuoteId = notification.ServiceQuoteID })">
                                                                                <i class="fa fa-mail-reply" style="font-size:22px;color:#2e428b;background:none"></i>
                                                                            </a>
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li>No Notif</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            



                                                <div class="action">
                                                    <div class="profile" onclick="menuToggle();">


                                                        @if (userProfilePicture != null)
                                                        {
                                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(userProfilePicture)" alt="Profile Picture" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/image-prof.png" alt="Default Profile Picture" />
                                                        }


                                                    </div>

                                                    <div class="menu">
                                                        <h3>
                                                           Welcome
                                                            <br />
                                                            <span>  @UserEmail  </span>
                                                        </h3>

                                                        <ul>
                                                            <li>
                                                                <i class="bx bx-user"></i>
                                                                <a href="@Url.Action("Profile", "Users", new { ID = UserID })">My Profile</a>
                                                            </li>
                                                            <li>
                                                                <i class="bx bx-edit"></i>
                                                                <a href="@Url.Action("ProfileEdit", "Users", new { ID = UserID })">Edit Profile</a>
                                                            </li>

                                                            <li>
                                                                <i class="bx bx-log-out"></i>

                                                                <a  onclick="location.href='@Url.Action("Logout", "Users")'">
                                                                    <span>Logout</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>



                                           

                                        }


                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="sidenav">
                    <div class="menu-btn">
                        <div class="line line--1"></div>
                        <div class="line line--2"></div>
                        <div class="line line--3"></div>
                    </div>

                    <div class="sidenav-links">
                   
                        @if (User.IsInRole("PurchasingDepartmentManager"))
                        {

                                        <a class="link" onclick="location.href='@Url.Action("IndexRespSA", "SaleOffers")'">Sale Offers</a>
                                        <a class="link" onclick="location.href='@Url.Action("IndexRespSA", "ServiceOffers")'">Service Offers</a>
                                <a class="link" onclick="location.href='@Url.Action("Index", "PurchaseQuotes")'">Purchase Quotes</a>
                                        <a class="link" onclick="location.href='@Url.Action("Index", "PurchaseRequests")'">Purchase Requests</a>
                                        <a class="link" onclick="location.href='@Url.Action("Index", "ServiceRequests")'">Service Requests</a>
                            <a class="link" onclick="location.href='@Url.Action("Index", "Sanctions")'">Sanctions</a>
                                <a class="link" onclick="location.href='@Url.Action("Indexusers", "Reclamations")'">Report Bug</a>


                        }
                        else if (User.IsInRole("FinanceDepartmentManager"))
                        {

                            <a class="link" onclick="location.href='@Url.Action("Index", "Bills")'">Bills</a>
                                <a class="link" onclick="location.href='@Url.Action("Indexusers", "Reclamations")'">Report Bug</a>



                        }
                        else if (User.IsInRole("PurchasingReceptionist"))
                        {


                            <a class="link" onclick="location.href='@Url.Action("Index", "ReceptionReports")'">ReceptionReports</a>
                                <a class="link" onclick="location.href='@Url.Action("IndexPurchaseQuote", "PurchasingReceptionists")'">Current Arrivals</a>
                                <a class="link" onclick="location.href='@Url.Action("IndexServiceQuote", "PurchasingReceptionists")'">Validate Service</a>
                                <a class="link" onclick="location.href='@Url.Action("Indexusers", "Reclamations")'">Report Bug</a>


                        }
                        else if (User.IsInRole("QualityTestingDepartmentManager"))
                        {

                                        <a class="link" onclick="location.href='@Url.Action("Index", "QualityServiceTestReports")'">Quality Service Test</a>
                                <a class="link" onclick="location.href='@Url.Action("Indexusers", "Reclamations")'">Report Bug</a>


                        }
                            else if (User.IsInRole("ProjectManager"))
                        {

                                <a class="link" onclick="location.href='@Url.Action("IndexProjectManager", "Stocks")'">Products</a>
                                <a class="link" onclick="location.href='@Url.Action("Index", "Projects")'">Projects</a>
                                <a class="link" onclick="location.href='@Url.Action("Indexusers", "Reclamations")'">Report Bug</a>


                        }


                    </div>
                </div>
            }




            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
                <div class="container-fluid">
                    <div class="row d_flex">
                        <div class="col-md-6">
                          
                        </div>
                        <div class="col-md-6">
                            <div class="text-img">
                                <figure><img src="~/images/box_img.png" alt="#" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        

    </header>
    <!-- end banner -->


    <div class="main-content ">

        <div class="bodycontainer">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>



    </div>
    <!-- end contact -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="cont">
                            <h3>
                                <strong class="multi"> GAP - Tech </strong><br>
                               Follow US ON 
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                                <ul class="social_icon">
                                    <li><a href="https://yahya.rabii.me/"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li><a href="https://github.com/Yahya-rabii"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/rabii-yahya-1b093a20b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>

                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                        <p>Copyright 2023 All Right Reserved By <a href="https://www.finatech.com/"> Finatech Group</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <script src="~/js/sites.js"></script>
    <script src="~/js/Notifications.js"></script>
    <script src="~/js/loader.js"></script>
    <script src="~/js/customs.js"></script>
    <script src="~/js/profile.js"></script>
    <script src="~/js/ProfileEdit.js"></script>
    <script src="~/js/reply.js"></script>

    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>



            @await RenderSectionAsync("Scripts", required: false)
        }

    }
    else
    {
        @RenderBody()

    }
    }
</body>
</html>
