@model X.PagedList.IPagedList<GAP.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<main>
    <article>

        <div class="addatatable-container" style="width:1000px;">

            <h1 class="form-header">Suppliers</h1>

            <!-- ======= Header tools ======= -->
            <div class="adheader-tools">



                <div class="adtools">
                    <!-- Pagination Links -->
                    <div class="adpagination-container" style="right:5px;">
                        <ul class="adpagination">
                            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = 1, SearchString = ViewBag.CurrentFilter })">First</a>
                            </li>
                            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, SearchString = ViewBag.CurrentFilter })">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link">@Model.PageNumber</a>
                            </li>
                            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, SearchString = ViewBag.CurrentFilter })">Next</a>
                            </li>
                            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount, SearchString = ViewBag.CurrentFilter })">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="adsearch">
                    <form method="get" asp-action="Index">
                        <input type="search" id="form1" class="adsearch-input" placeholder="Supplier Email..." name="SearchString" />
                    </form>
                </div>
            </div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Email
            </th>
           
            <th>
               Adresse
            </th>
            <th>
                CodePostal
            </th>
            <th>
                Numtele
            </th>
            <th>
               NombreTransaction
            </th>
            <th>
                IsValid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                                <div class="BTNS">
                                    <a asp-action="Edit" asp-route-id="@item.UserID">
                                        <input type="submit" value="Edit" class="form-button EDI-button" style="margin-right: 5px;" />
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.UserID">
                                        <input type="button" class="form-button DET-button" value="Details" style="margin-right: 5px;">
                                    </a> 
                                    <a asp-action="Delete" asp-route-id="@item.UserID">
                                        <input type="button" class="form-button DEL-button" value="Delete" style="margin-right: 5px;">
                                    </a>

                                </div>
            </td>
        </tr>
}
    </tbody>
</table>

        </div>
    </article>
</main>
