@model GAP.Models.Supplier

@{
    ViewData["Title"] = "Validate";
}
<div class="adpcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">

                <h1 class="form-header">VALIDATE Supplier </h1>

                <div style="color:#0a2558;">
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.CompanyName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.CompanyName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Email)
                        </dd>


                    </dl>
               




                <form asp-action="Validate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group form-check" >
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                        </label>
                    </div>

                    <div class="BTNS">

                        <a asp-for="SupplierID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>
            </div>

</div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
