@model GAP.Models.QualityTestingDepartmentManager

@{
    ViewData["Title"] = "Details";
}
<main>
    <article>
        <section class="sectiong featured-games" style="background-color: var(--raisin-black-3); width:500px; margin-top:250px;" id="features" aria-label="featured game">

            <div class="frmcontainer">



                <h1 style="text-align:center; color:white">Are you sure you want to delete this ?</h1>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsAdmin)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsAdmin)
                    </dd>
                </dl>

            </div>
            <div class="BTNS">
                <a asp-action="Edit" asp-route-id="@Model?.UserID">
                    <input type="submit" value="Edit" class="form-button EDI-button" style="margin-right: 5px;" />
                </a>

                <a asp-action="Delete" asp-route-id="@Model?.UserID">
                    <input type="button" class="form-button DEL-button" value="Delete" style="margin-right: 5px;">
                </a>
                <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

            </div>

        </section>

    </article>
</main>