@model GAP.Models.RapportTestQualite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RapportTestQualite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValiditeEtat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValiditeEtat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValiditeNbrPiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValiditeNbrPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValiditeFonctionnement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValiditeFonctionnement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevisId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevisId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
