@model IEnumerable<GAP.Models.DemandeAchat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>


                @if (item.IsValid) 
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DemandeAchatID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DemandeAchatID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DemandeAchatID">Delete</a>
                    </td>

                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.DemandeAchatID">Details</a>
                    </td>
                }



            <td>
             
            </td>
        </tr>
}
    </tbody>
</table>
