@model GAP.Models.OffreVente

@{
    ViewData["Title"] = "Details";
}





<main>
    <article>
        <div class="datatable-container" style="width:100%">
            <h1 class="form-header">Demande Achats Details</h1>


            <table class="table custom-table-style">
                <thead>
                    <tr>
                        <th>DemandeAchat ID</th>
                        <th>Description</th>
                        <th>Budget</th>
                        <!-- Add other properties of the "DemandeAchat" model to display as needed -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.DemandeAchatId)</td> @*get the demande achat from table demande achat using this id*@
                        <td>@Html.DisplayFor(model => model.DemandeAchat.Description)</td>
                        <td>@Html.DisplayFor(model => model.DemandeAchat.Budget)</td>
                        <!-- Add other properties of the "DemandeAchat" model to display as needed -->
                    </tr>
                </tbody>
            </table>
        </div>



        <br/>


        <div class="datatable-container" style="width: 100%">
            <h1 class="form-header" style="color:rgb(46, 66, 139)">OffreVente Details</h1>
            <table class="table custom-table-style">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Fournisseur)</td>
                        <td>@Html.DisplayFor(model => model.Fournisseur.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.unit_profit)</td>
                        <td>@Html.DisplayFor(model => model.unit_profit)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Validite)</td>
                        <td>@Html.DisplayFor(model => model.Validite)</td>
                    </tr>
                </tbody>
            </table>
        </div>






        <br />


        @if (Model.Produits != null && Model.Produits.Count > 0)
        {

            <div class="datatable-container" style="width:100%">
                <h1 class="form-header" style="color:rgb(46, 66, 139)">Produits</h1>



                <table class="table custom-table-style">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix Unitaire</th>
                            <th>Nombre de Pièces</th>
                            <!-- Add other properties of the "Produit" model to display as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var produit in Model.Produits)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => produit.Nom)</td>
                                <td>@Html.DisplayFor(modelItem => produit.PrixUnitaire)</td>
                                <td>@Html.DisplayFor(modelItem => produit.NombrePiece)</td>
                                <!-- Add other properties of the "Produit" model to display as needed -->
                            </tr>
                        }
                    </tbody>
                </table>

                @if (!Model.Validite && User.IsInRole("Fournisseur"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.OffreVenteID">Edit</a> |
                        <a asp-action="Index">Back to List</a>

                    </div>
                }
                @if (!User.IsInRole("Fournisseur"))
                {
                    <a asp-action="IndexRespSA">Back to List</a>
                }

            </div>
        }



    </article>
</main>

