@model IEnumerable<GAP.Models.OffreVente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixTTL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixTTL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validite)
            </td>
            <td>
                    <a asp-action="ValidateOffre" asp-route-id="@item.OffreVenteID">Validate Offre</a> |
                    <a asp-action="UnValidateOffre" asp-route-id="@item.OffreVenteID">UnValidate Offre</a> |
      
            </td>
        </tr>
}
    </tbody>
</table>
