@model IEnumerable<GAP.Models.OffreVente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixTTL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixTTL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validite)
            </td>

                @if (!item.Validite) // Only show buttons if the element is not validated
                {
                    <td>
                        <a asp-controller="Devis" asp-action="Create" asp-route-OffreVenteID="@item.OffreVenteID">Reply</a>

                    </td>

                }
      
        </tr>
}
    </tbody>
</table>
