@model GAP.Models.NotificationSupplier

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NotificationSupplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SupplierID)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SaleOfferID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SaleOfferID)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NotificationTitle)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NotificationTitle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NotificationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
