<link rel="stylesheet" href="~/css/accessdenied.css" asp-append-version="true" />

<h1 class="glow">@ViewBag.StatusCode @ViewBag.ErrorTitle</h1>
<div class="divx">
    <p><span>ERROR CODE</span>: "<i>@ViewBag.StatusCode @ViewBag.ErrorTitle</i>"</p>
    <p><span>ERROR DESCRIPTION</span>: "<i>@ViewBag.ErrorDescription</i>"</p>
    <p><span>ERROR POSSIBLY CAUSED BY</span>: [<b>execute access forbidden, read access forbidden, ...</b>]</p>
    <p><span>SOME PAGES ON THIS SERVER THAT YOU DO HAVE PERMISSION TO ACCESS</span>: [<a href="/">Home Page</a>...]</p>
    <p><span>HAVE A NICE DAY SIR/MME :-)</span></p>
</div>
<script src="~/js/accessdenied.js"></script>
