@model GAP.Models.Facture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Facture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FournisseurEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FournisseurEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevisID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevisID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FactureID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
