@model GAP.Models.Fournisseur

@{
    ViewData["Title"] = "Validate";
}
<main>
    <article>
        <section class="sectiong featured-games" style="background-color: var(--raisin-black-3);" id="features" aria-label="featured game">

            <div class="adfrmcontainer" style="width:550px;">

                <h1 class="form-header">VALIDATE Fournisseur </h1>

                <div style="color:#0a2558;">
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>


                    </dl>
               




                <form asp-action="Validate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group form-check" >
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                        </label>
                    </div>

                    <div class="BTNS">

                        <a asp-for="FournisseurID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>
            </div>

        </section>

    </article>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
