@model GAP.Models.QualityTestReport

@{
    ViewData["Title"] = "Create";
}

<div class="pcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">

            <h1 class="form-header">ADD Rapport Test Qualite</h1>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="PurchaseQuoteId" value="@ViewBag.PurchaseQuoteId" />
            <input type="hidden" name="ServiceQuoteId" value="@ViewBag.ServiceQuoteId" />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StateValidity" /> @Html.DisplayNameFor(model => model.StateValidity)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CntItemsValidity" /> @Html.DisplayNameFor(model => model.CntItemsValidity)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OperationValidity" /> @Html.DisplayNameFor(model => model.OperationValidity)
                </label>
            </div>

                    <div class="BTNS">

                        <a asp-for="QualityTestReportID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
        </form>
            </div>


</div>
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
