@model GAP.Models.QualityTestReport

@{
    ViewData["Title"] = "Details";
}

<div class="pcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">



                <h1 style="text-align:center; color:white">Are you sure you want to delete this ?</h1>
                <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.StateValidity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.StateValidity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CntItemsValidity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CntItemsValidity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.OperationValidity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OperationValidity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PurchaseQuoteId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PurchaseQuoteId)
        </dd>
    </dl>
            </div>
            <div class="BTNS">
                <a asp-action="Edit" asp-route-id="@Model?.QualityTestReportID">
                    <input type="submit" value="Edit" class="form-button EDI-button" style="margin-right: 5px;" />
                </a>

                <a asp-action="Delete" asp-route-id="@Model?.QualityTestReportID">
                    <input type="button" class="form-button DEL-button" value="Delete" style="margin-right: 5px;">
                </a>
                <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

            </div>

</div>
</div>
</div>
