@model IEnumerable<GAP.Models.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrixUnitaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prixtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePiece)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FournisseurId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrixUnitaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prixtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePiece)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FournisseurId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProduitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProduitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProduitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
