@model GAP.Models.User

@{
    ViewData["Title"] = "Delete";
}

<div class="adpcontainer">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">


                <h1 style="text-align:center; ">Are you sure you want to delete this ?</h1>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.IsAdmin)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.IsAdmin)
                    </dd>
                </dl>

                <form asp-action="Delete">

                    <div class="BTNS">

                        <a asp-for="UserID"><input type="submit" class="DEL-button" value="Delete"> </a>

                        <a asp-controller="Users" asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>

                </form>
            </div>
</div>
</div>
</div>
