@model GAP.Models.Devis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Devis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReception)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReception)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixTTL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixTTL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produit.ProduitID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fournisseur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fournisseur.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DevisID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
