@model X.PagedList.IPagedList<GAP.Models.RapportReception>

@{
    ViewData["Title"] = "Index";
}

<main>
    <article>

        <div class="datatable-container">

            <h1 class="form-header">RapportReception</h1>

            <!-- ======= Header tools ======= -->
            <div class="header-tools">



                <div class="tools">
                    <!-- Pagination Links -->
                    <div class="pagination-container">
                        <ul class="pagination">
                            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = 1, SearchString = ViewBag.CurrentFilter })">First</a>
                            </li>
                            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, SearchString = ViewBag.CurrentFilter })">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link">@Model.PageNumber</a>
                            </li>
                            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, SearchString = ViewBag.CurrentFilter })">Next</a>
                            </li>
                            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount, SearchString = ViewBag.CurrentFilter })">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
<table class="table">
    <thead>
        <tr>
            <th>
               DateCreation
            </th>
            <th>
                DevisId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevisId)
            </td> 
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.RapportReceptionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RapportReceptionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RapportReceptionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</article>
</main>